<div class="chart-card">
  <div class="header-container">
    <h2>Individual Team Member Performance</h2>
    <select [(ngModel)]="selectedTeam" (change)="onTeamChange()" class="team-select">
      <option *ngFor="let team of teams" [value]="team">{{team}}</option>
    </select>
  </div>
  <div class="chart-container">
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="defaultColors"
      [results]="currentTeamData"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [roundDomains]="roundDomains"
      [animations]="animations"
      [tooltipDisabled]="tooltipDisabled"
      [yAxisTickFormatting]="yAxisTickFormatting"
      (select)="onSelect($event)">
    </ngx-charts-line-chart>
  </div>
</div>