.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E5E7EB;
  padding: 0px 6px;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-btn {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-icons {
  display: flex;
  gap: 15px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-btn img {
  width: 24px;
  height: 24px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}
